@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    // Color
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 67.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.text-bold, .s-point {
    color: #000;
    font-weight: 500;
}

.wrapper {
    position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 100rem;
    margin-top: 25px;
    padding: 2%;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.55);

    &__back {
        position: relative;
        padding: 15px 0;
        color: #000;
        margin-bottom: 3rem;

        a {
            padding: 10px 5px;
            text-decoration: none;
        }
        
        a:hover, a:active, span:hover, span:active {
            opacity: 0.85;
            cursor: pointer;
            background-color: rgba(0,0,0,0.05);
            border-radius: 7px;
        }

        span {
            position: absolute;
            top: 11px;
            right: 2px;
            padding: 5px 7px;
        }
    }

    &__back::after {
        content: '';
        display: block;
        position: relative;
        top: 9px;
        width: 100%;
        background-color: #e1e1e1;
        height: 1px;
    }

    &__container {
        display: flex;
    }

    &-img {
        width: 600px;
        flex: 1;
        img {
            max-width: 500px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
        padding: 5px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;

        &-name {
            font-size: 3rem;
            text-transform: capitalize;
            font-weight: 600;
        
        }
        &-specification {
            color: #333;

            p {
                line-height: 2;
            }

            p:first-child {
                display: inline-block;
            }
        }

        &-description {
            flex: 1;
            margin-top: 15px;
            text-align: justify;

            p {
                margin-bottom: 5px;
            }

        }

    }

    
}

.abilities {
    display: inline-block;
    margin-left: 10px;

}

.type {
    text-transform: uppercase;
    padding: 4px 13px;
    border-radius: 7px;
}

.bg-color-fire {
    color: #fff;
    background-color: #EE8130;
}

.bg-color-flying {
    color: #fff;
    background-color: #A98FF3;
}

.bg-color-dragon {
    color: #fff;
    background-color: #6F35FC;
}

.box {
    width: 1600px;
    margin-top: 20px;
    padding: 10px;
    background-color: #A98FF3;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    &__item {
        flex: 1;
        padding: 1rem;
        margin: 1rem;
        background-color: #e1e1e1;
        

        &-introduce {
            display: flex;
            justify-content: space-between;
            height: 300px;

            img {
                width: 350px;
                background: #000;
            }
        }


        &-img {
            width: 100%;
            object-fit: cover;
        }

        &-content {
            flex: 1;
            padding: 0 1rem;
        }

        &-specifications {
            margin-top: 7px;

            .stat {
                display: flex;
                flex-wrap: wrap;
                
                
                &-name {
                    flex: 1 1 50%;
                }
            }
        }   
    }
}

.characteristics  {

    line-height: 1.8;
    margin-top: 0;

    h4 {
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .p-first {
        display: inline-block;
    }

    p:first-letter {
        text-transform: capitalize;
        color: #333
    }
}

